  <form class="uk-form">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">Your Todos</legend>

        <div class="uk-margin">
          <label class="uk-form-label">Todo Description</label>
          <div class="uk-form-controls">
            <input #todoText class="uk-input" type="text">
          </div>
        </div>

        <div class="uk-margin">
          <label class="uk-form-label">Priority</label>
          <div class="uk-form-controls">
              <select #todoPriority class="uk-select" id="form-stacked-select">
                  <option>High</option>
                  <option>Medium</option>
                  <option>Low</option>
              </select>
          </div>
        </div>
        
        <div class="uk-margin">
          <button class="uk-button uk-button-default" (click)="addItem(todoText.value, todoPriority.value);todoText.value = ' '">Add</button>
        </div>
    </fieldset>
  </form>
  <hr class="uk-divider-icon">
    <input class="uk-checkbox" type="checkbox" id="lister" (click)="updateMode()"> 
    <label for="lister"> List All</label>
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-divider uk-table-small ">
      <thead>
          <tr>
              <th></th>
              <th>Priority</th>
              <th>Description</th>
              <th>Status</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of getItems(); let i = index;">
          <td>{{ i+1 }}</td>
          <td>{{ item.priority }}</td>
          <td>{{ item.description }}</td>
          <td [ngSwitch]="item.status">
            <span *ngSwitchCase='true'>
              Finished
            </span>
            <span *ngSwitchCase='false'>
              Unfinished
            </span>
          </td>
          <td [ngSwitch]="item.status">
            <span *ngSwitchCase='true'>
              <input class="uk-checkbox" [(ngModel)]="item.status" checked type="checkbox">
            </span>
            <span *ngSwitchCase='false'>
              <input class="uk-checkbox" [(ngModel)]="item.status" type="checkbox">
            </span>
          </td>
        </tr> 
      </tbody>
  </table>
</div>